.vouchers {
	display: grid;
	grid-template-columns: 317px 1fr;
}

.vouchers__form {
	height: calc(100vh - 47px);
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

.vouchers__customers {
	border-top: 1px solid #ccd5db;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}

.vouchers__customers::-webkit-scrollbar {
	width: 4px;               /* ширина scrollbar */
	cursor: pointer;
}
.vouchers__customers::-webkit-scrollbar-track {
	background: #fafbfb;        /* цвет дорожки */
}
.vouchers__customers::-webkit-scrollbar-thumb {
	background-color: rgba(243, 105, 19, .8);    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: none;  /* padding вокруг плашки */
}

.vouchers__customers::-webkit-scrollbar-thumb:hover {
	background-color: rgba(243, 145, 75, .8);    /* цвет плашки */
}

.vouchers__customer {
	margin: 0;
	padding: 13px 20px;
	border-bottom: 1px solid #e1e6ea;
	background-color: #fafbfb;
	/*Шрифт*/
	font-family: Arial, sans-serif;
	font-size: .8125rem;
	font-weight: normal;
	line-height: 1rem;
	color: #2a2d32;
	/*Анимация*/
	transition: background-color linear .2s;
}

.vouchers__customer:hover {
	cursor: pointer;
	background-color: #dff7fd;
}

.voucher__customer_checked {
	color: #f36913;
}

.vouchers__filed {
	position: relative;
	border: none;
	padding: 0;
	margin: 19px;
}

.input_place_vouchers {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ccd5db;
	height: 35px;
	border-radius: 86px;
	background-color: #fff;
	padding: 0 30px 0 12px;
	transition: color .2s;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%);
	/*Шрифт*/
	font-family: Arial, sans-serif;
	font-size: .8125rem;
	font-weight: normal;
	line-height: 35px;
	color: #2a2d32;
}

.input_place_vouchers:focus {
	border: 1px solid #0bc0df;
}

.button_icon_close {
	background-image: url("../../../images/cross-svgrepo-com.svg");
	background-position: center center;
	background-size: 20px;
	background-repeat: no-repeat;
	/*Анимация*/
	transition: filter linear .2s, opacity linear .2s;
}

.button_icon_close:hover {
	cursor: pointer;
	filter: drop-shadow(0 0 10px #000);
}

.button_icon_close:active {
	opacity: .8;
}

.button_place_vouchers {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 9px;
	top: 50%;
	transform: translateY(-50%);
}
